.bento {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(80px, auto);
  gap: 20px;
  padding: 20px;
  grid-template-areas:
    "nav   nav    nav    nav    nav      nav     nav     nav     nav     nav     nav     nav"
    "hero  hero   hero   hero   hero     photo   photo   photo   list    list    list    list"
    "hero  hero   hero   hero   hero     photo   photo   photo   list    list    list    list"
    "hero  hero   hero   hero   hero     photo   photo   photo   list    list    list    list"
    "hero  hero   hero   hero   hero     photo   photo   photo   list    list    list    list"
    "bio   bio    bio    bio    contact  contact contact contact list    list    list    list"
    "bio   bio    bio    bio    contact  contact contact contact list    list    list    list"
    "bio   bio    bio    bio    contact  contact contact contact socials socials socials socials";
}

.card {
  border-radius: 24px;
}

.header {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fadcd9;
  height: 80px;
}

.header p {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}

span {
  font-weight: lighter;
  font-style: italic;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
}

.header li {
  font-size: 14px;
}

.content {
  position: relative;
  grid-area: hero;
  background-color: #fadcd9;
  width: 550px;
}

.content img {
  position: absolute;
  right: 0;
  margin: 30px 30px 0 0;
}

.content h1 {
  text-align: justify;
  font-size: 52px;
  margin-top: 220px;
  width: 490px;
  padding-left: 20px;
  padding-right: 50px;
}

.image-container {
  grid-area: photo;
  border-radius: 24px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects {
  grid-area: list;
  background-color: #fadcd9;
}

.projects p {
  font-weight: 440;
  margin: 40px;
  font-size: 25px;
}

hr {
  border: 0;
  height: 2px;
  background-color: #f8afa6;
  width: 350px;
  margin: 25px auto;
}

.arrow-div1 {
  display: flex;
  justify-content: space-between;
}

.arrow-div1 img {
  margin-right: 30px;
}

.sofa {
  width: 410px;
  padding: 0 20px;
  border-radius: 35px;
}

.about {
  grid-area: bio;
  padding: 20px;
  background-color: #fadcd9;
}

.about img {
  margin-top: 10px;
}

.about p {
  margin-top: 60px;
  padding-bottom: 20px;
  width: 290px;
  font-size: 20px;
}

.contact {
  grid-area: contact;
  background-color: #f8afa6;
}

.arrow-div2 {
  display: flex;
  justify-content: space-between;
}

.arrow-div2 img {
  width: 36px;
  margin-right: 20px;
}

.contact p {
  font-size: 15px;
  width: 100px;
  margin: 30px;
}

.contact h2 {
  font-weight: normal;
  font-size: 55px;
  margin-top: 120px;
  padding-left: 20px;
}

.footer {
  grid-area: socials;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fadcd9;
  height: 30px;
  height: 80px;
}

.footer ul {
  display: flex;
  gap: 50px;
  font-size: 13px;
  list-style: none;
}
