.bento {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  grid-template-rows: auto 1.5fr 1fr auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border-radius: 12px;
  background-color: #fadcd9;
  grid-column-start: span 3;
}

.header p {
  font-weight: bold;
  padding: 20px;
}

.header span {
  font-weight: normal;
  font-style: italic;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
}

.header ul li {
  font-size: 13px;
}
