.bento {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  grid-template-rows: auto 1.5fr 1fr auto;
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  height: 80px;
  background-color: #fadcd9;
  grid-column: 1 / 4;
}

.header p {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}

span {
  font-weight: lighter;
  font-style: italic;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
}

.content {
  grid-row: 2/ 2;
  grid-column: 1 /2;
  background-color: #fadcd9;
  width: 600px;
}

.content h1 {
  text-align: justify;
  font-size: 54px;
  margin-top: 200px;
  width: 506px;
  padding-left: 20px;
  padding-right: 50px;
}

.image-container {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

.image-container img {
  width: 300px;
}

.projects {
  grid-column: 3/4;
  grid-row: 2/;
  background-color: #fadcd9;
}

.projects img {
  width: 380px;
  padding: 20px;
}

.about {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  padding: 20px;
  background-color: #fadcd9;
}

.contact {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #f8afa6;
}

.footer {
  grid-column: 3 / 3;
  background-color: #fadcd9;
  height: 30px;
}

.footer ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
