@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f1f0;
  font-family: "Gilroy", sans-serif;
  width: 100vh;
}
